.result-image {
    position: relative;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    width: 250px;
    object-fit: cover;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.card-header {
    background-color: rgba(255, 252, 252, 0.03);
}

.description {
    font-weight: 300;
    font-size: 15px;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

.stats {
    color: #606266;
    font-size: 18px;
}

.fa {
    color: #606266;
}

.results {
    margin-top: 50px;
}

.results-title {
    font-size: 18px;
    font-weight: 400;
}

.property-link {
    color: blue;
    cursor: pointer;
}

.card-img-wrapper {
    overflow: hidden;
    position: relative;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-img-wrapper:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.4s ease-in-out;
}