<mat-horizontal-stepper linear #stepper>
    <mat-step>

        <div class="container">

        
        <form [formGroup]="advertForm" (ngSubmit)="submitAdvert()">
            <ng-template matStepLabel>Enter Property Details</ng-template>
            
            <div class="row">

                <div class="col-md-8">
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <input type="text" class="form-control" formControlName="address">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="town">Town:</label>
                        <input type="text" class="form-control" formControlName="town">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="county">County:</label>
                        <input type="text" class="form-control" formControlName="county">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="postcode">Postcode:</label>
                        <input type="text" class="form-control" formControlName="postcode">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="eircode">Eircode:</label>
                        <input type="text" class="form-control" formControlName="eircode">
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="property_type">Property Type:</label>
                        <select class="form-control" formControlName="property_type">
                            <option value="" disabled>Please select the property type</option>
                            <option *ngFor="let type of propertytypes" [value]="type.value">
                                {{type.display}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="selling_type">Advert Type:</label>
                        <select class="form-control" formControlName="selling_type">
                            <option value="" disabled>Please select the advert type.</option>
                            <option *ngFor="let type of sellingTypes" [value]="type.value">
                                {{type.display}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="price">Price:</label>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="price">
                        <div class="invalid-feedback">Please select a price.</div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    
                    <div class="form-group">
                        <label for="bedrooms">Bedrooms:</label>
                        <select class="form-control" formControlName="bedrooms">
                            <option value="" disabled>Please select the number of bathrooms</option>
                            <option *ngFor="let room of rooms" [value]="room.value">
                                {{room.display}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="bathrooms">Bathrooms:</label>
                        <select class="form-control" formControlName="bathrooms">
                            <option value="" disabled>Please select the number of bathrooms</option>
                            <option *ngFor="let room of rooms" [value]="room.value">
                                {{room.display}}
                            </option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="size">Size (sqft):</label>
                        <input type="text" class="form-control" formControlName="size">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="building_energy_rating">BER:</label>
                        <select class="form-control" formControlName="building_energy_rating">
                            <option value="" disabled>Please Choose a BER Option</option>
                            <option *ngFor="let ber of bers" [value]="ber.value">
                                {{ber.display}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <textarea rows="5" class="form-control" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            

            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </div>

    </mat-step>

    <mat-step>
      <app-advert-photos></app-advert-photos>
    </mat-step>

    <mat-step>
        <app-advert-payment></app-advert-payment>
    </mat-step>
    
</mat-horizontal-stepper>
