<mat-horizontal-stepper linear #stepper>
    <mat-step>
        <form [formGroup]="advertForm" (ngSubmit)="submitAdvert()">
            <ng-template matStepLabel>Enter Property Details</ng-template>
    
            <div class="form-group">
                <input type="text" class="form-control" formControlName="town" placeholder="town">
                <div class="invalid-feedback">Please select a town.</div>
            </div>
            
            <div class="form-group">
                <input type="text" class="form-control" formControlName="county" placeholder="County">
                <div class="invalid-feedback">Please select a county.</div>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" formControlName="address" placeholder="address">
                <div class="invalid-feedback">Please select a address.</div>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" formControlName="postcode" placeholder="postcode">
                <div class="invalid-feedback">Please select a postcode.</div>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" formControlName="eircode" placeholder="eircode">
                <div class="invalid-feedback">Please select a eircode.</div>
            </div>
        
            <div class="form-group">
                 <select class="form-control" formControlName="property_type">
                    <option value="" disabled>Please select the property type</option>
                    <option *ngFor="let type of propertytypes" [value]="type.value">
                        {{type.display}}
                    </option>
                </select>
            </div>
        
            <div class="form-group">
                <select class="form-control" formControlName="selling_type">
                    <option value="" disabled>Please select the advert type.</option>
                    <option *ngFor="let type of sellingTypes" [value]="type.value">
                        {{type.display}}
                    </option>
                </select>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" formControlName="price" placeholder="price">
                <div class="invalid-feedback">Please select a price.</div>
            </div>
        
            <div class="form-group">
                <select class="form-control" formControlName="bedrooms">
                    <option value="" disabled>Please select the number of bathrooms</option>
                    <option *ngFor="let room of rooms" [value]="room.value">
                        {{room.display}}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <select class="form-control" formControlName="bathrooms">
                    <option value="" disabled>Please select the number of bathrooms</option>
                    <option *ngFor="let room of rooms" [value]="room.value">
                        {{room.display}}
                    </option>
                </select>
            </div>
        
            <div class="form-group">
                <input type="text" class="form-control" formControlName="size" placeholder="size">
                <div class="invalid-feedback">Please select a size.</div>
            </div>
    
            <div class="form-group">
                <select class="form-control" formControlName="building_energy_rating">
                    <option value="" disabled>Please Choose a BER Option</option>
                    <option *ngFor="let ber of bers" [value]="ber.value">
                        {{ber.display}}
                    </option>
                </select>
            </div>
    
            <div class="form-group">
                <input type="text" class="form-control" formControlName="description" placeholder="description">
                <div class="invalid-feedback">Please select a description.</div>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
      <app-advert-photos></app-advert-photos>
    </mat-step>

    <mat-step>
        <app-advert-payment></app-advert-payment>
    </mat-step>
    
</mat-horizontal-stepper>
